/*body {
  background-color: teal;
}

.paragraph {
  background-color: red;

}
p {
  background-color: magenta;
}

.container {
  background-color: orange;
}


#id-sample {
  font-size: 30px;

}
p .paragraph {
  background-color: blue;
}*/

#address-1 {
  width: 800px;-
}
